@font-face {
    font-family: "TrueDream";
    src: url(./fonts/TrueDreamRegular.ttf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus-visible{
        outline: 2px solid var(--link-clr);
        border-radius: var(--border-radius);
        box-shadow: 0 0 5em var(--link-clr);
        text-shadow: 0 0 5em var(--link-clr);
    }
}

:root {
    --background-clr: #cfcfcf;
    --text-clr: #004b2c;
    --primary-clr: #B3DF02;
    --link-clr: #4763c8;

    --shadow-clr: var(--primary-clr);

    --border: 1.5px solid #afafaf;
    --border-radius: 5px;
}


    

body {
    background-color: var(--background-clr);
    color: var(--text-clr);
    accent-color: var(--text-clr);
    font-family: "azo-sans-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-family: "TrueDream", 'Times New Roman', Times, serif;

}

i {
    font-weight: 300;
}

a {
    cursor: pointer;
    color: var(--link-clr); 
    /* text-decoration: none; */
    /* font-weight: bold; */
    /* filter: brightness(1.50); */
    text-shadow: 0 0 5em var(--background-clr);

    &:hover {
        filter: brightness(1.25);
        text-decoration: underline;
    }

    &:focus-visible{
        outline: 2px solid var(--link-clr);
        box-shadow: 0 0 5em var(--link-clr);
        text-shadow: 0 0 5em var(--link-clr);
    }
}

hr {
    border-top-color: var(--primary-clr);
}

button {
    all: unset;
    cursor: pointer;
    background-color: var(--primary-clr);
    padding: .25em 1em;
    border-radius: var(--border-radius);
    border: var(--border);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: auto;

    &:hover {
        filter: brightness(1.25);
    }

    &:disabled {
        opacity: 50%;
        cursor:not-allowed;
        &:hover {
            filter: none;
        }
    }
}

label {
    text-align: left;
}

.skip {
    all: unset;
    cursor: pointer;
    color: #B3DF02;
    background-color: var(--text-clr);
    padding: .25em 1em;
    border-radius: var(--border-radius);
    border: var(--border);
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        filter: brightness(1.25);
        text-decoration: none;
    }
}

picture {
    margin: 0;
    
}

img { max-width: 100%; height: auto; }

progress { width: 100%; transition: all 300ms ease-out; }

input[type="text"], textarea {
    width: 50%;
    background-color: #fff;
    padding: .25em .5em;
    border-radius: var(--border-radius);
    border: var(--border);
    color: var(--text-clr);

    &::placeholder {
        color: var(--text-clr);
    }

    &:focus{
        color: var(--text-clr);
        opacity: 100%;
        border-color: transparent;
        
    }

    &:focus-visible{
        outline: 2px solid var(--link-clr);
        box-shadow: 0 0 5em var(--link-clr);
        text-shadow: 0 0 5em var(--link-clr);
        filter: brightness(1.25);
    }
}



.fat_wiggle {
    font-weight: bold;
    @media (prefers-reduced-motion:no-preference) {
        animation: wiggle 1s ease-in-out infinite;
    }
}

@keyframes wiggle {
    0% {
        rotate: 1deg;
    }
    50% {
        rotate: -1deg;
    }
    100% {
        rotate: 1deg;
    }
}

/* VRAGENLIJST STYLING */


.vragenlijst {
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: auto;

    /* ------------------------------------------------- HEADER ------------------------------------------------------------- */

    & header {
        width: 100%;
        position: relative;

        & section:first-child {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
        }
        
        & ul {
            grid-area: bread;
            display: flex;

            & li {
                list-style: none;

                &::after {
                    content: '>';
                    padding: .5rem;
                }

                &:last-child::after {
                    content: '';
                }
                &:first-child::after {
                    content: '';
                }
            }
        }

        & h1 {
            grid-area: header;
            width: 100%;
        }

        & a {
            grid-area: annuleer;
            justify-self: end;
            margin-left: auto;
        }

        & section:nth-of-type(2) {
            padding: 1em 0;
        }

        /* & ol {
            display: grid;
            grid-template-columns: 1fr 1fr 1.1fr;
            padding: 1em 0;

            & a {

                cursor: pointer;

            }

            & li {
                all: unset;
                width: 80%;
                opacity: 50%;

                &::before {
                    content: '';
                    position: absolute;
                    height: 1em;
                    border: 1px dashed var(--text-clr);
                    bottom: 2em;
                    margin-left: 7px;

                    z-index: -1;
                }

                & p {
                    background-color: var(--text-clr);
                    color: var(--primary-clr);
                    padding: .25em .5em;
                    border-radius: 5px;
                    border: 2px solid var(--text-clr);
                }


                & span {
                    display: none;
                }
            }
        }

        & progress {
            height: 1em;
            appearance: none;
            -webkit-appearance: none;
            background-color: #fff;

            &::-webkit-progress-bar {
                background-color: #fff;
                border: 2px solid #afafaf;
                border-radius: 100px;
        }
            
        }

        & .dots-progress {
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr 1.1fr;
            width: 100%;
            margin-top: 1px;

            & div {
                width: 17px;
                height: 17px;
                border-radius: 1000px;
                background-color: var(--text-clr);
                border: 5px solid var(--primary-clr);

                
            }
            
        } */
        
        & ol {
            position: sticky;
            top: 0;
            background: #fff;
            border-radius: 10px;
            padding: 1em 2em ;
            display: flex;
            justify-content: space-between;

            

            & li {
                display: flex;
                margin-right: 1em;
                /* flex-direction: column; */
                text-align: center;
                align-items: center;
                position: relative;
                width: 100%;

                &::after {
                    content: '';
                    background-color: #595959;
                    width: 100%;
                    height: 4px;
                    margin-left: 1em;
                }

                &:last-child, &:last-child::after {
                    all: unset;
                    /* margin: 1em; */
                }

                & div {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    width: max-content;

                    & p {
                        width: max-content;
                    }

                    
                }

                

                & div div {
                    width: 40px;
                    height: 40px;
                    background-color: var(--background-clr);
                    border: 4px solid;
                    border-color: transparent;
                    border-radius: 50%;
                    color: #595959;
                    font-weight: 600;
                    text-align: center;
                    line-height: 35px;
    
                    
                }

                

                & hr {
                    border-color: #4763c8;
                    width: 100%;
                }

            }

            & .active div div {
                border: 4px solid var(--link-clr);
                color: var(--link-clr);
            }

            & .done  {

                &::after {
                    background-color: rgb(88, 187, 88);
                }

                & div div {
                    background-color: rgb(88, 187, 88);
                    color: #fff;
                }
            }

            & p {
                font-weight: lighter;
            }
        }

    }

    /* ------------------------------------------------- MAIN ------------------------------------------------------------- */

    & main {
        text-align: left;
        
        
        
        margin: 1em auto;
        

        & fieldset {
            /* all: unset; */
            display: flex;
            margin: 2em;
            padding: 1em 2em 2em;
            flex-direction: column;
            gap: 2em;
            /* width: 100%; */
            /* max-width: 700px; */
            background-color: #fff;
            border-radius: 10px;

            

            & label {
                display: grid;
            }

            & section {
                justify-self: center;
                display: flex;
                
                flex-wrap: wrap;
                justify-content: center;

                & label {
                    cursor: pointer;
                    width: fit-content;
                    /* background-color: red; */
                    height: fit-content;
                    transition: all 100ms cubic-bezier(0.74, 0.67, 0.59, 1.8);
                    border-radius: 5px;
                    border: 3px solid var(--text-clr);
                    /* transition-duration: 0.2s; */
                    transform-origin: 50% 50%;
                    position: relative;
                    margin: .5em;

                    &:hover {
                        transform: scale(95%);
                    }

                    &:active {
                        box-shadow: 0 0 2em var(--link-clr);
                        transform: scale(70%);
                    }
                }

                & picture {
                    display: flex;
                    border-radius: 3px;
                    height: 100%;
                    background-color: var(--background-clr);
                    transition: all 100ms ease-in-out;
                    /* position: relative; */
                }

                & input {
                    /* visibility: hidden; */
                    opacity: 0;
                    position: absolute;

                    &:focus-visible + label{
                        
                        outline: 2px solid var(--link-clr);
                        box-shadow: 0 0 5em var(--link-clr);
                        text-shadow: 0 0 5em var(--link-clr);
                        
                    }                    

                    &:checked + label {
                        border: 3px solid var(--text-clr);
                        
                    }

                    &:checked + label picture {
                        transform: scale(90%);
                        box-shadow: 0 0 10em var(--link-clr);
                    }
                }
            }
        }

        & .selected {
            

            & picture {
                display: flex;
                border: 3px solid var(--text-clr);
                border-radius: 5px;
            }

            & article {
                display: flex;
                width: 100%;
                /* background-color: #B3DF02; */
                justify-content: center;
                align-items: center;
                gap: 2em;

                & p {
                    width: 100%;
                }
            }
            

            option {
                padding: 0;
              }
              
              input[type="range"] {
                width: 100%;
                margin: 0;
              }


            & datalist {
                cursor: default;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                writing-mode: vertical-lr;
                width: 100%;
                & option {
                    rotate: -90deg;
                    /* color: red; */
                    font-weight: bold;
                    &[label="0"] {
                        font-weight: normal;
                    }
                }
              }


              input[type="range"]::-webkit-slider-runnable-track {
                border-radius:10px;
                background: var(--background-clr); 
                border: inset 3px solid var(--text-clr);
                background: -webkit-linear-gradient(
                  to right,
                  #FB4C4C,
                  var(--primary-clr)
                ); 
                background: linear-gradient(
                  to right,
                  #FB4C4C,
                  var(--primary-clr)
            );}
/* 
            @media screen and (-webkit-min-device-pixel-ratio:0) {
                input[type='range'] {
                  overflow: hidden;
                  width: 100%;
                  -webkit-appearance: none;
                  background-color: #9a905d;
                }
                
                input[type='range']::-webkit-slider-runnable-track {
                  height: 2em;
                  -webkit-appearance: none;
                  color: red;
                  margin-top: -1px;
                }
                
                input[type='range']::-webkit-slider-thumb {
                  width: 10px;
                  -webkit-appearance: none;
                  height: 10px;
                  cursor: ew-resize;
                  background: #434343;
                  box-shadow: -10px 0 0 10px #43e5f7;
                } */
            }

            /* input[type="range"]::-webkit-slider-runnable-track {
                background: #053a5f;
                height: 0.5rem;
              }
              */
            
        }
        
        & legend {
            font-weight: bold;
            font-size: 1.1rem;
            max-width: 30em;
            background-color: var(--text-clr);
            color: #fff;
            padding: .5em 1em;
            border-radius: 5px;
            text-align: left;
        }

        & footer {
            width: 100%;
            max-width: 1000px;
            /* background-color: red; */
            bottom: 0;
            display: flex;
            justify-content: space-between;
            gap: 1em;
            margin: 1em 0;
        }

        .gegevens {
            position: relative;
            width: 100%;
            margin: auto;
            text-align: left;
            
            & input {
                
                width: 50%;
                &[type="file"] {
                    display: none;
                    
                }

            }

            & .profile {
                --upload: var(--primary-clr);
                cursor: pointer;
                text-align: left;
				display: flex;
                
                gap: .5em;
                flex-direction: column;
                
				width: 100%;
				height: 300px;
				/* background-color: aqua; */
				justify-content: center;
				text-align: left;
                &:focus-visible {
                    outline: 2px solid var(--link-clr);
                    box-shadow: 0 0 5em var(--link-clr);
                    text-shadow: 0 0 5em var(--link-clr);
                }
                

                &::after {
                    content: 'Kies uw bestand of sleep hier';
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-align: center;
                }

                

                & div {
                    height: 100%;
                    background: var(--upload);
                    opacity: 80%;
                    justify-content: center;
                    background-size: cover;
				    background-position: center;
                    border-radius: var(--border-radius);
                    border: 2px ;
                    position: relative;
                    display: flex;
                    padding: 1em;

                    &::before {
                        content: '';
                        /* position: absolute; */
                        border: 2px dashed var(--text-clr);
                        width: 100%;
                        height: 100%;
                        justify-self: center;
                        align-self: center;
                        
                    }


                    
                }

                

                

			}
        }


    }




@media screen and (min-width:25rem) {
    .vragenlijst {
        & main {
            text-align: center;
        }
    }
    
}

@media screen and (min-width:40rem) {
    .vragenlijst {
        padding: 3rem 5rem;
    
        & header {

    
            & section:first-child {
                /* background-color: red; */
                display: grid;
                grid-template-columns: 3fr 1fr;
                grid-template-areas: 
                "bread annuleer"
                "header annuleer";

                align-items: center;
            }

            & ol {
                
    
                & li {
                    display: flex;
                    

                    & span {
                        display: unset;
                    }
                }
    
                
            }
        }

        & main {
            text-align: center;
            & legend {
                font-size: 1.5em;
                
            }

            & .gegevens {
                min-width: 30em;
            }
        }
    }
    
}




@media screen and (min-width:60rem) {
    .vragenlijst {
        h1 {
            font-size: 3em;
        }
    
        & header {

    
            & section:first-child {
                /* background-color: blue; */
            }
        }
    } 
}
