<%- include('partials/head') %>
<header>
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li>Klant toevoegen</li>
    </ul>
<h1>Klant toevoegen</h1>
</header>
<main>
    <form>
        <p>* geeft een verplicht veld aan</p>
        <fieldset>
            <legend>Aan welke SDG's leveren deze klanten een positieve of negatieve bijdrage?</legend>
            <i>Gebruiken jouw klanten jouw dienst of product om een positieve impact te maken.</i>
            <p>Kies minimaal 3 sdg's</p>
            <div class="sdgs">
                <%- include('partials/sdgs'); %>
            </div>
            <button type="button">overslaan</button>
            <button type="submit">volgende</button>
        </fieldset>
        <fieldset>
            <legend>Scores toevoegen</legend>
            <p>Van de gekozen sdgs score van -5 tot 5</p>
            <div class="sdgs">
                <%- include('partials/selected_sdgs'); %>
            </div>
            <button type="button">overslaan</button>
        </fieldset>
    </form>
</main>
<footer>

</footer>
<%- include('partials/foot') %>