<%- include('partials/head', {current: 'vragenlijst'}); %>
<%- include('partials/vragenlijst_header', {current: 'gegevens'}); %>
<main>
    <form action="/klant-toevoegen-sdgs/<%= companies.id %>">
        <fieldset class="gegevens">
            <legend>Vertel wat over uw klant</legend>
            <i>* geeft een verplicht veld aan</i>
            <label>
                Klant naam:
                <input name="klant" type="text" placeholder="bijv. ..." required>
            </label>
            <label>
                Descriptie:
                <textarea name="descriptie"  rows="4" cols="33" placeholder="bijv. ..."></textarea>
                
            </label>
            <label class="profile" for="profile" >
                Klant profielfoto:
                <div class="profile-picture" tabIndex="0">
                </div>
                <small>300px x 300px recommended. JPGs JPEGs and PNGs supported</small>
            </label>  
            <input type="file" id="profile" name="avatar" accept="image/png, image/jpeg" />
        </fieldset>
        
        <footer><button type="submit">volgende ></button></footer>
        
    </form>
</main>
<footer>

</footer>
<%- include('partials/foot') %>